{% extends 'faculty/base.html' %}

{% block title %}Course Topics{% endblock %}

{% block content %}
<div class="container py-4">


      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0">Course: {{ course.title }}</h3>
        
        <a href="/faculty/courses" class="btn btn-sm btn-secondary">
            <i class="bi bi-arrow-left me-1 "></i> Back to Course
        </a>
    </div>


    {% if topics %}
    {% for topic in topics %}
    <div class="card shadow mt-3">
        <div class="card-header bg-success text-white">
            Topic {{ topic.topic_no }}
        </div>
        <div class="card-body">
            <figure>
                <blockquote class="blockquote">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0">{{ topic.title }}</p>
                        <div>
                            <a href="{{ url_for('view_topic_file', topic_id=topic.id) }}" target="_blank"
                                class="btn btn-info me-2 text-white px-4">
                                <i class="bi bi-eye"></i> View
                            </a>
                            
                        </div>
                    </div>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{ topic.subtitle }}
                </figcaption>
            </figure>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info mt-3">
        No uploaded topics for this course yet.
    </div>
    {% endif %}
</div>
{% endblock %}