/* body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
   */
  .background {
    position: relative; 
    min-height: 100vh; 
    overflow: hidden;
  }
  .bg-image {
    /* filter: blur(1px); */
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    z-index: -1;
  }

  form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 450px;
    height: 630px;
  }

  .login-form {
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  .register-form {
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  
  
